* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(212, 212, 212);
  margin: 0 auto;
  font-size: 13px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 320px;
  min-width: 280px;
  flex-basis: 300px;
  padding: 20px;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.ellipsis {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.user-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #27bf7a;
  color: white;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 3px white, 0 0 5px #27bf7a;
  width: 25px;
  height: 25px;
  margin-left: 90px;
  margin-top: -35px;
  position: relative;
}
.content-container {
  padding: 0 20px 25px;
  margin-top: 15px;
}

h2 {
  font-weight: 500;
  font-size: 25px;
}

.sub-line-text {
  color: gray;
  margin-top: 5px;
}
.table {
  margin: 15px 0 30px;
}

th,
td {
  padding: 5px 20px 0;
  text-align: center;
}
th {
  color: gray;
}
td {
  font-size: 16px;
}

.text-container {
  text-indent: 20px;
  text-align: center;
  color: gray;
}

.link-container,
.btm-container {
  margin-bottom: 1em;
}

.tw-link,
.fb-link,
.gp-link,
.ins-link {
  display: inline-block;
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  margin: 5px;
}

.tw-link {
  background-color: #3f67b7;
}
.fb-link {
  background-color: #1da1f1;
}
.gp-link {
  background-color: #fe785d;
}
.ins-link {
  background-color: #fc0000;
}

.btm {
  color: gray;
  background-color: inherit;
  padding: 15px 40px;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 25px;
  font-size: 15px;
}

.btm:hover {
  background-color: #32b6c0;
  color: white;
}
