* {
  box-sizing: border-box;
}

html {
  --card-grey: gray;
  --card-green: #27bf7a;
  --card-white: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  padding: 2.3em;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #e6e7f0;
  font-size: 0.8rem;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 18rem;
  flex-grow: 1;
  max-width: 19rem;
  min-width: 17rem;
  padding: 1em;
  margin: 1rem;
  text-align: center;
  background-color: var(--card-white);
  box-shadow: 0 0 5px var(--card-grey);
  border-radius: 1%;
  position: relative;
}

.ellipsis {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: var(--card-grey);
  cursor: pointer;
}

.user-img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--card-green);
  color: var(--card-white);
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 3px white, 0 0 5px var(--card-green);
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5.6rem;
  margin-top: -2.1rem;
  position: relative;
}

.content-container {
  padding: 0 1.25rem 1.5rem;
  margin-top: 0.9rem;
  position: sticky;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
}

.sub-line-text {
  color: var(--card-grey);
  margin-top: 5px;
}

.table {
  margin: 0.9rem 0 1.87rem;
}

th,
td {
  padding: 0.31rem 1.25rem 0;
  text-align: center;
}

th {
  color: var(--card-grey);
}

td {
  font-size: 1em;
}

.text-container {
  text-indent: 1.25em;
  text-align: center;
  color: var(--card-grey);
  max-height: 2.9rem;
  min-height: 2rem;
  margin-bottom: 1rem;
  overflow: scroll;
}

.link-container,
.btm-container {
  margin-bottom: 1.2em;
}

.tw-link,
.fb-link,
.gp-link,
.ins-link {
  display: inline-block;
  padding: 0.43rem;
  width: 1.87rem;
  height: 1.87rem;
  border-radius: 50%;
  color: var(--card-white);
  margin: 0.31rem;
}

.tw-link {
  background-color: #3f67b7;
}

.fb-link {
  background-color: #1da1f1;
}

.gp-link {
  background-color: #fe785d;
}

.ins-link {
  background-color: #fc0000;
}

.btm {
  color: var(--card-grey);
  background-color: inherit;
  padding: 0.93rem 2.5rem;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 1.5rem;
  font-size: 0.93rem;
  cursor: pointer;
}

.btm:hover {
  background-color: #32b6c0;
  color: var(--card-white);
}
